{% extends "base.html" %}

{% block content %}
    <header><h1>Products</h1></header>
    
    {% for produto in produtos %}
        <div class="produto">
            <a href="{{ url_for('detalhe_produto', nome_produto=produto.nome) }}"><h2><u>{{ produto.nome }}</u></h2></a>
            <img id="vault_img" src="{{ url_for('static', filename='images/' + produto.nome + '.png') }}" alt="{{ produto.nome }}"/>
            <h2>{{ produto.preco }}</h2>
            <p>{{ produto.descricao[:120] + "..." }}</p>
        </div>
    {% endfor %}
{% endblock %}
